.color-info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-info-card {
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    width: 550px;
}

.color-info-card-title {
    margin-top: 40px;
    text-align: center;
}