.favorite-colors-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorite-colors-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-favorites-container {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-favorites-text {
    font-size: 20px;
}

.fa-heart-broken {
    font-size: 40px;
    color: $grapefruit-color;
}