.color-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    background-color: #f1d8c8;
        
    p {
        display: block;
        text-align: center;
    }
}

.color {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid grey;
    padding: 6px;
}

.fa-heart {
    display: block;
    text-align: right;
}

.loading-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-size: 19px;
}

.fa-clock {
    margin-right: 8px;
}