.color-container,
.filtered-color-container {
    align-items: center;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding-top: 10px;
        
    p {
        display: block;
        text-align: center;
    }
}

.color {
    border: 1px solid grey;
    height: 100px;
    margin: 10px;
    padding: 6px;
    width: 100px;
}

.fa-heart {
    color: $grapefruit-color;
    display: block;
    font-size: 20px;
    text-align: right;
}

.loading-message {
    align-items: center;
    display: flex;
    font-size: 19px;
    justify-content: center;
    margin-top: 25px;
}

.fa-clock {
    margin-right: 8px;
}
