.navigation-container {
    border-bottom: 15px solid #f1d8c8;
    display: flex;
    justify-content: space-around;
    
    button{
        border: none;
        font-family: $nav-font;
        font-size: 17px;
        letter-spacing: 2.5px;
    };
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        height: 30px;
        margin-bottom: 0;
        background-color: #e8e8e8;
        width: 20vw;
    }
    .is-active {
        background-color: #f1d8c8;
    }
};

