.navigation-container {
    border-bottom: 15px solid $tan-color;
    display: flex;
    justify-content: space-around;
    
    button{
        border: none;
        font-size: 17px;
        letter-spacing: 2.5px;
    };

    a {
        align-items: center;
        background-color: $light-grey-color;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        display: flex;
        height: 30px;
        justify-content: center;
        margin-bottom: 0;
        width: 20vw;
    };

    .is-active {
        background-color: $tan-color;
    };
};

