.pagenotfound-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;

    .pagenotfound-text {
        font-size: 20px;
    }

    b {
        font-size: 20px;
    }
}

.fa-exclamation-triangle {
    color: $grapefruit-color;
    font-size: 40px;
}