.product-card-container {
    display: flex;
    flex-direction: column;
}

.product-image {
    margin-top: 20px;
    width: 150px;
    height: 150px;
}

.product-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-info-text {
    text-align: left;
}