.navigation-container {
    border-bottom: 15px solid #d77871;
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
    
    button{
        border: none;
        font-family: $nav-font;
        font-size: 17px;
        letter-spacing: 2.5px;
    };
};