.navigation-container {
    border-bottom: 15px solid #d77871;
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;

    button{
        border: none;
        font-size: 15px;
    };
};