.header-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    .title {
        font-family: $title-font;
        font-size: 55px;
        letter-spacing: 3.5px;
        margin-left: 25px;
    };
    
    .fas {
        font-size: 25px;
        margin: 0 15px;
    };

    .fa-heart {
        margin-right: 25px;
    };
}

// .search-container {
//     display: flex;
//     align-items: center;

//     .search-input {
//         height: 25px;
//         margin-left: 25px;
//     };

//     .fa-search {
//         font-size: 24px;
//     };
// }
