body {
    display: grid;
}

.color-search {
    background-color: #f1d8c8;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.submit-btn {
    background-color: #dcb6aa;
    height: 27px;
    margin-left: 7px;
    border-radius: 5px;
}

.fa-search {
    margin-right: 10px;
    font-size: 20px;
}

.search-input {
    width: 200px;
    padding: 5px 5px 5px 10px;
}

