body {
    display: grid;
}

.hexcode-search {
    background-color: #f1d8c8;
    padding-top: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.submit-btn {
    background-color: #dcb6aa;
    height: 27px;
    margin-left: 7px;
    border-radius: 5px;
}

