@import './variables';
@import './Containers/App/App.scss';
@import './Components/Header/Header.scss';
@import './Containers/Navigation/Navigation.scss';
@import './Components/Banner/Banner.scss';
@import './Containers/ColorList/ColorList.scss';
@import './Containers/ShowColor/ShowColor.scss';
@import './Containers/ColorCard/ColorCard.scss';
@import './Containers/ProductCard/ProductCard.scss';
@import './Containers/Favorites/Favorites.scss';

* {
    font-family: $main-font;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}
