.banner-container {
    align-items: center;
    background-color: $tan-color;
    display: flex;
    justify-content: center;

    .banner-img {
        max-height: 500px;
        width: 70vw;
    };

    .banner-text {
        text-align: center;
    };
};